tests/Fixtures/W3c/anonymous-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/test/anonymous-types">

    <!-- Element with anonymous simple type (no name attribute) -->
    <xs:element name="score">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- Element with anonymous complex type (no name attribute) -->
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="value" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Named type for comparison -->
    <xs:simpleType name="NamedType">
        <xs:annotation>
            <xs:documentation>A named type for comparison with anonymous types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
