tests/Fixtures/W3c/namespace-variants.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.org/test/namespace-variants">

    <!-- This schema uses xsd: prefix instead of xs: prefix -->
    <xsd:simpleType name="AlternatePrefix">
        <xsd:annotation>
            <xsd:documentation>A type defined with xsd: prefix</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AlternateComplexType">
        <xsd:annotation>
            <xsd:documentation>A complex type defined with xsd: prefix</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="field" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
